:root {
    --primary-bg: #000;
    --accent-color: #c95132;
    --text-color: #fff;
    --spacing-unit: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-bg);
    color: var(--text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: calc(var(--spacing-unit) * 0.5) var(--spacing-unit);
}

.navbar__brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-color);
    text-decoration: none;
}

.navbar__menu {
    list-style: none;
    display: flex;
    gap: calc(var(--spacing-unit) * 2);
}

.navbar__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: var(--spacing-unit) 0;
    transition: color 0.3s;
}

.navbar__link:hover,
.navbar__link:focus {
    color: var(--accent-color);
    outline: none;
}

.site-header {
    text-align: center;
    padding: var(--spacing-unit);
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/perfect.gif') center center / cover no-repeat fixed;
}

.hero__image {
    max-width: 100%;
    height: auto;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing-unit) * 2);
    padding: var(--spacing-unit) 0;
}

.social-links__icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.social-links__icon:hover {
    transform: scale(1.1);
    outline: none;
}


/* Contact Form Styles */
.contact-section {
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
    max-width: 95%;
    margin: auto;
}

.contact-form label {
    text-align: left;
    font-weight: bold;

}

.contact-form input,
.contact-form textarea {
    padding: var(--spacing-unit);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background-color: var(--primary-bg);
    color: var(--accent-color);
    max-width: 70%;
}

.contact-form button {
    background-color: var(--accent-color);
    color: var(--primary-bg);
    border: none;
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.3s;
    align-self: flex-start;
    font-weight: bold;
}

.contact-form button:hover,
.contact-form button:focus {
    background-color: var(--primary-bg);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

iframe {
    border: none;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px var(--primary-bg);
    width: 100%;
    height: 805px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .site-header {
        width: 100%;
        height: auto;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }

    .navbar__menu {
        flex-direction: row;
        gap: 0.5rem;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 480px) {
    .navbar__brand {
        font-size: 1.5rem;
    }

    .navbar__menu {
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

}