/* YOUR CUSTOM STYLES */
html,
body,
header,
.view {
    height: 100%;
    background-image: url("img/background.jpg");
}
/* Navigation*/


/*Intro*/

#box-color {
  background-color: #0a0a0a;
  border-style: solid;
}

#title {
  font-weight: bold;
}

h2 {
  color:#b193f7;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
    .full-bg-img,
    .view {
        height: auto;
        position: relative;
    }
}

#card {
  padding-bottom: 10px;
  height: 310px;
  width: 540px;
}

.description {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #EC8800
}

@media (max-width: 992px) {
    .description {
        padding-top: 7rem;
        text-align: center;
    }
}
