.container {}

.download-bar {
    display: flex;
    margin-bottom: 2rem;
}

.download-btn {
    background: #c95132;
    color: #fff;
    padding: var(--spacing-unit);
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
}

.download-btn:hover {
    transform: scale(1.05);
}

.resume-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing-unit)* 2);
}

.resume-image {
    width: 100%;
    max-width: 1100px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}



@media screen and (max-width: 768px) {
    .download-btn {
        width: 100%;
    }
}