/* HAMBURGER BUTTON (hidden on desktop) */
.navbar__toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    transition: all 0.3s ease;
}

/* MOBILE STYLES */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: flex-end;
    }

    .navbar__link {
        color: white;
    }

    .navbar__toggle {
        display: flex;
    }

    .navbar__menu {
        position: absolute;
        top: 60px;
        right: 1rem;
        background-color: black;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        display: none;
    }

    /* show menu when toggled */
    .navbar__menu.open {
        display: flex;
        top: 0px;
        width: -webkit-fill-available;
    }
}