/* You can add global styles to this file, and also import other style files */
body  {
  background-image:
   linear-gradient(
     to right,
     #212789,
     #B2B9E5,
     #DF8B19
   );
}

#card {
  position: absolute;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
