:root {
  --primary-bg: #000;
  --accent-color: #c95132;
  --spacing-unit: 1rem;
  --text-color: white
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.site-header {
  text-align: center;
  padding: var(--spacing-unit);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./assets/perfect.gif') center center / cover no-repeat fixed;
}

.hero__image {
  max-width: 100%;
  height: auto;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing-unit) * 2);
  padding: var(--spacing-unit) 0;
}

.social-links__icon {
  width: 40px;
  height: 40px;
}

.social-links__icon:hover {
  transform: scale(1.1);
  outline: none;
}

.navbar__heart {
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent-color);
  display: inline-block;
  filter: drop-shadow(0 0 10px rgba(201, 81, 50, 0.7));
}

.navbar__heart--right {
  transform-origin: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .site-header {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
  }

  .main-content-home {
    margin-top: calc(var(--spacing-unit) * 7);
  }

}